@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">LUKSUSLIK ILUSALONG TALLINNAS</h1>
    <h2>Tule lõõgastu andekate professionaalide käte all!</h2>
    <br/>
    <br/>
    <br/>
    <p>
        NB! Töötame eriolukorra tingimustega teenindades ühe teenindussaali peale ühte klienti korraga, 
        et vältida teie kokkupuudet teiste klientide ja töötajatega.
        Püsime terved!
    </p>
</div>